NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=http://app.localhost:3001
NEXT_PUBLIC_AUTH_URL=http://auth.localhost:3002
AUTH_COOKIE_DOMAIN=.localhost
NEXT_PUBLIC_AUTH_COOKIE_DOMAIN=.localhost
